* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto; /* Căn giữa container */
    background-color: white;
}

.section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 20px;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
    gap: 10px;
}

.section1 {
    display: grid;
    margin-top: 20px;
    /*padding: 15px 0;*/
    gap: 10px;
}

.iframe {
    width: 100%;
    height: 85vh;
    border: none;
}

.summary__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: white;
}

/* Từng item trong summary list */
.summary__item {
    text-align: center;
    font-size: 14px;
    color: #333;
}

/* Icon cho từng summary item */
.summary__icon {
    width: 40px; /* Kích thước icon có thể điều chỉnh */
    height: auto;
    margin-bottom: 10px;
}

.summary__divider {
    width: 1px;
    height: 50px; /* Chiều cao của đường phân cách */
    background-color: #ccc; /* Màu sắc đường phân cách */
}

.Section_Pt {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
}


.carousel-container {
    width: 50%;
    max-width: 1200px;
    position: relative;
    text-align: center;
    margin: 0 auto;
}

.carousel-slide {
    position: relative;
}

.carousel-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1;
}

.carousel-button.left {
    left: 10px;
}

.carousel-button.right {
    right: 10px;
}

/*mục hdsd*/
.feature-benefit {
    display: flex;
    align-items: stretch;
    max-width: 1200px;
    margin: auto;
    border-radius: 8px;
    padding: 40px 0;
}

.feature-benefit__text h3 {
    padding-bottom: 5px;
}

.feature-benefit__text {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feature-benefit__text ul {
    list-style-type: none;
    padding: 0;
    color: #555;
}

.feature-benefit__text li {
    margin: 5px 0;
    padding: 4px;
}