<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
    <link rel="stylesheet" href="../../src/style/style-component/style_product_detail/product_details.css">
</head>
<body>
    <div class="container">

            <div class="section1">
                <iframe src="Product_detail_item.html" class="iframe"></iframe>
            </div>
            <div class="section1">
                <iframe src="Product_buying_tool.html" class="iframe" scrolling="no"></iframe>
            </div>
    </div>
    <div class="summary__list">
        <div class="summary__item">
            <img src="../../resource/image/pediatrics_24dp_000000_FILL0_wght400_GRAD0_opsz24.png" alt="Icon 1" class="summary__icon"/>
            <p class="summary__text">Thương Hiệu Abbott</p>
        </div>
        <div class="summary__divider"></div>
        <div class="summary__item">
            <img src="../../resource/image/replay_10_24dp_000000_FILL0_wght400_GRAD0_opsz24.png" alt="Icon 2" class="summary__icon"/>
            <p class="summary__text">Độ Tuổi Phù Hợp cho trẻ từ 1-10 tuổi</p>
        </div>
        <div class="summary__divider"></div>
        <div class="summary__item">

            <img src="../../resource/image/cool_to_dry_24dp_000000_FILL0_wght400_GRAD0_opsz24.png" alt="Icon 3" class="summary__icon"/>
            <p class="summary__text">Bảo quản nơi khô ráo, hộp đã mở sử dụng trong vòng 3 tuần</p>
        </div>
    </div>
</body>
</html>