<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
    <link rel="stylesheet" href="../../src/style/style-component/style_product_detail/product_details.css">
</head>
<body>
<div class="container">
    <div class="section1">
        <iframe src="Product_detail_item.html" class="iframe"></iframe>
    </div>
    <div class="section1">
        <iframe src="Product_buying_tool.html" class="iframe"></iframe>
    </div>
    <div>
        <a href=""><button ></button> </a>
    </div>

    <a href="#"><button class="btn-add-to-cart btn add">Thêm vào giỏ hàng</button> </a>


</div>

<div class="summary__list">
    <div class="summary__item">
        <img src="../../resource/image/img_detail/100%CH.png" alt="Icon 1" class="summary__icon">
        <p class="summary__text">Chính Hãng 100%</p>
    </div>
    <div class="summary__divider"></div>
    <div class="summary__item">
        <img src="../../resource/image/img_detail/GHN.png" alt="Icon 2" class="summary__icon">
        <p class="summary__text">Giao Hàng Nhanh Chống</p>
    </div>
    <div class="summary__divider"></div>
    <div class="summary__item">
        <img src="../../resource/image/img_detail/TraiTim.png" alt="Icon 3" class="summary__icon">
        <p class="summary__text">Cùng Ba Mẹ Nuôi Con</p>
    </div>
</div>
<div class="Section-Pt">
    <img src="../../resource/image/img_detail/s1.png" alt="Section1">
</div>
<div class="text1">
    <h2>Mom & Dad Favorites</h2>
    <p>  Bộ sưu tập những sản phẩm được các bậc cha mẹ yêu thích nhất — an toàn, tiện lợi và phù hợp cho cả mẹ và bé.</p>
</div>
<div class="carousel-container">
    <!-- Main Image Display -->
    <div class="carousel-slide">
        <button class="carousel-button left">❮</button>
        <img id="carousel-image" src="../../resource/image/sp1.png" alt="Carousel Image"
             class="carousel-image">
        <button class="carousel-button right">❯</button>
    </div>
</div>

<!-- Feature benefit -->
<div class="feature-benefit">
    <div class="feature-benefit__text">
        <h2> Bộ quần áo dài êm mềm giúp giữ ấm cơ thể bé, đặc biệt là lưng và bụng</h2>
        <h3> Chun quần mềm mại, co giãn tốt cho bé thoả sức vui chơi, vận động</h3>
        <p>Chất liệu 100% vải cotton mềm mại, an toàn và có khả năng thấm hút mồ hôi vượt trội.
        </p>
        <ul>
            <li>Sợi bông có khả năng hút ẩm vượt trội, giúp thấm mồ hôi nhanh </li>
            <li>Cotton tự nhiên mềm nhẹ như bông bảo vệ làn da của bé </li>
        </ul>
    </div>
    <div class="feature-benefit__img">
        <img src="../../resource/image/baoquan.webp" alt="BaoquanDo">
    </div>
</div>
<div class="iframe-container">
    <iframe src="../../component/product_detail/Product_Feature.html" class="iframe-large"></iframe>
</div>

</body>
</html>