<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>buying</title>
    <link rel="stylesheet" href="../../src/style/style-component/style_product_detail/Product_buying_tool.css">
</head>
<body>
    <div class="container">
    <div class="product-title">
        Pediasure hương vani 1.6kg cho bé từ 1-10 tuổi
    </div>
    <a href="#" class="product-rating">
        ★★★☆☆ <span>(3.0 / 10 đánh giá)</span>
    </a>

    <div class="product-features">
        <ul>
            <li>
                <div>Tình trạng: Còn hàng</div>
                <div>Mã sản phẩm: 105215</div>
                <div>Thương hiệu: Pediasure</div>
                <div>Dòng sản phẩm: Sữa bột trẻ em</div>
            </li>
<!--            <li>Giảm thêm 10% tối đa 1 triệu khi nhập mã BBDDeal. Áp dụng cho đơn hàng shop hệ điều hành iOS-->
<!--                đến hết ngày 07/11</li>-->
            <li>*Khuyến mại trên áp dụng khi mua hàng trực tiếp trên Website và không áp dụng FREESHIP
                đối với sản phẩm ngày vàng / preorder</li>
        </ul>
    </div>
        <div class="option-title">Chọn Khối Lượng</div>
        <div class="capacity-options">
            <div class="capacity-option">350g</div>
            <div class="capacity-option">600g</div>
            <div class="capacity-option">800g</div>
        </div>

    <div class = "price">
        1.139.000₫
    </div>
        <button class="btn-add-to-cart">Thêm vào giỏ hàng</button>
</div>
</body>
</html>