<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="summary__list">
    <div class="summary__item">
        <img src="../../resource/image/img_detail/100%CH.png" alt="Icon 1" class="summary__icon">
        <p class="summary__text">Chính Hãng 100%</p>
    </div>
    <div class="summary__divider"></div>
    <div class="summary__item">
        <img src="../../resource/image/img_detail/GHN.png" alt="Icon 2" class="summary__icon">
        <p class="summary__text">Giao Hàng Nhanh Chống</p>
    </div>
    <div class="summary__divider"></div>
    <div class="summary__item">
        <img src="../../resource/image/img_detail/TraiTim.png" alt="Icon 3" class="summary__icon">
        <p class="summary__text">Cùng Ba Mẹ Nuôi Con</p>
    </div>
</div>
</body>
</html>