<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bu7ying</title>
    <link rel="stylesheet" href="../../src/style/style-component/style_product_detail/product_buying_things.css">
</head>
<body>
<div class="product_detail_box">
    <div class="produc_detail_title"> <strong>Sữa Arla Baby&Me A2 Organic số 1 0-6M</strong>
    </div>
    <div class="product_info_main">
        <div class="check_available_product" class="info_item">
            <strong>Tình trạng:</strong> Còn hàng
        </div>
        <div class="product_ID" class="info_item">
            <strong>Mã sản phẩm:</strong> uiauia
        </div>
        <div class="product_brand" class="info_item">
            <strong>Thương hiệu:</strong> OBB
        </div>
        <div class="product_type" class="info_item">
            <strong>Dòng sản phẩm:</strong>Sữa dinh dưỡng
        </div>
    </div>
    <div class="product_price"></div>
    <div class="product_price_box">
        <span class="inner_price_box"> 69,000₫</span>
    </div>
    <div class="product_action">
        <div class="add_item">
            <div class="item_quantity">
                <button id="minus">-</button>
                <input type="number" id="quantity" name="quantity" value="1" min="1" max="99">
                <button  id="add">+</button>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    document.getElementById("add").addEventListener("click", function () {
        const input = document.getElementById("quantity");
        let value = parseInt(input.value);

        if (value < parseInt(input.max)) {
            input.value = value + 1;
        }
    });

    document.getElementById("minus").addEventListener("click", function () {
        const input = document.getElementById("quantity");
        let value = parseInt(input.value);

        if (value > parseInt(input.min)) {
            input.value = value - 1;
        }
    });
</script>
</html>