<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="../../src/style/style-component/style-home/search.css">
</head>
<body>
<div class="overlay">
    <div class="search-container">
        <h2>Chúng tôi có thể giúp bạn tìm kiếm?</h2>
        <div class="search-bar" onclick="">
            <input type="text" id="search-input" placeholder="Ba mẹ cần tìm gì cho bé ?" onfocus=""/>
            <button class="search-icon">

            </button>
        </div>

        <div class="popular-keywords" id="popular-keywords">
            <p>Từ khóa Phổ biến</p>
            <ul>
                <li>Sữa bột DHA</li>
                <li>Xe tập đi cho bé</li>
                <li>Quần áo cho bé sơ sinh</li>
                <li>Vitamin bổ sung cho mẹ bầu</li>
            </ul>
        </div>


        <div class="suggestions">
            <h3>Gợi ý dành cho bạn</h3>
            <div class="product-suggestions">
                <div class="product">
                    <img src="../../resource/image/sp1.png" alt="Product 1">
                    <p>Combo quần áo cho bé 6M-9M </p>
                    <span>399.000 VND</span>
                </div>
                <div class="product">
                    <img src="../../resource/image/sp1.png" alt="Product 1">
                    <p>Combo quần áo cho bé 6M-9M </p>
                    <span>399.000 VND</span>
                </div>
                <div class="product">
                    <img src="../../resource/image/sp1.png" alt="Product 1">
                    <p>Combo quần áo cho bé 6M-9M </p>
                    <span>399.000 VND</span>
                </div>
                <div class="product">
                    <img src="../../resource/image/sp1.png" alt="Product 1">
                    <p>Combo quần áo cho bé 6M-9M </p>
                    <span>399.000 VND</span>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>