<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart Item</title>

    <link rel="stylesheet" href="../../../resource/fontawesome/css/all.css">
    <link rel="stylesheet" href="../../src/style/style-component/style-cart/CartItem.css">
</head>
<body>

<div class="wrap mid_align row">
    <input type="checkbox">
    <div class="image">

        <img src="../../resource/image/Cart_item_image/product_cart_1.png" height="800" width="800"/>
    </div>


    <div class="description mid_align col  ">
        <div class="title "><span
                style="font-weight: bold; font-size: 20px">Sữa Arla Baby&Me A2 Organic số 1 0-6M</span></div>

        <div class="status">
            <span>Còn hàng</span>
        </div>

    </div>

    <div class="section_price mid_align col  ">
        <span class="price">820,000 VND</span>


        <div class="quantity mid_align row">
            <i class="fa-solid fa-minus"></i>
            <span class="num mid_align">Số lượng:  1</span>
            <i class="fa-solid fa-plus"></i>

        </div>

        <i class=" del fa-solid fa-trash-can"></i>
    </div>

</div>

</body>
</html>
