<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gio hang</title>
    <link rel="stylesheet" href="../../src/style/style-component/style-cart/Cart.css">
</head>
<body>

<div id="body" class="mid_align col">
    <div class="content row">
        <div class="list_item ">
            <iframe src="CartItem.html" frameborder="0"></iframe>
            <iframe src="CartItem.html" frameborder="0"></iframe>
            <iframe src="CartItem.html" frameborder="0"></iframe>
            <iframe src="CartItem.html" frameborder="0"></iframe>
            <iframe src="CartItem.html" frameborder="0"></iframe>
            <iframe src="CartItem.html" frameborder="0"></iframe>
            <iframe src="CartItem.html" frameborder="0"></iframe>
        </div>


        <div class="bill mid_align rol ">
            <div class="discount">
                <span class="title">Nhập Mã Khuyến Mãi</span>

                <div class="wrap_input">
                    <input id="voucher" type="text" placeholder="Voucher hoặc gift code ">
                    <label for="voucher"></label>
                    <button type="submit">Áp Dụng</button>
                </div>

            </div>


            <div class="summary col">
                <span class="title">Bản Tóm Tắt</span>
                <div class="price item_price">
                    <span>Tổng giá trước thuế</span>
                    <span class="value">5.166.000 VND</span>
                </div>

                <div class="tax item_price">
                    <span>Thuế GTGT</span>
                    <span class="value">574.000 VND</span>
                </div>
            </div>


            <div class="wrap_total">
                <div class="total">
                    <span>Tổng cộng</span>
                    <span>5.740.000 VND</span>
                </div>
                <span class="note">Đẫ bao gồm thuế GTGT</span>
            </div>


            <button type="submit" id="pay" data-src="../../component/CheckOut/CheckOut.html">
                <a href="../CheckOut/CheckOut.html">Thanh Toán</a>
            </button>

            <div class="term_condition">
                <span>Bằng cách gửi đơn đặt hàng,
                    bạn đồng ý với <a href="#">Điều khoản & điều kiện</a> và
                    chúng tôi sẽ sử dụng dữ liệu cá nhân của bạn theo
                    <a href="#">Chính sách quyền riêng tư</a> của chúng tôi.</span>
            </div>


            <div class="ads col">
                <div class="ads_item">
                    <i class="fa-solid fa-medal"></i>
                    <span>Cam kết giá</span>

                </div>

                <div class="ads_item">
                    <i class="fa-solid fa-truck-fast"></i>
                    <span>Giao hàng miễn phí toàn quốc </span>

                </div>
                <div class="ads_item">
                    <i class="fa-solid fa-percent"></i>
                    <span>Gói trả góp 0%</span>

                </div>

                <div class="ads_item">
                    <i class="fa-solid fa-rotate"></i>
                    <span>Đổi sản phẩm theo chính sách quy định trong vòng 14 ngày</span>

                </div>

            </div>


        </div>


    </div>


</div>


</div>


</body>
</html>
