<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../src/style/style-component/style_user/Order_History_Item.css">
</head>
<body>

<div id="container" class="mid_align row">


    <div class="image">
        <img src="../../resource/image/img-showcase/img1.0.png"/>
    </div>


    <div class="description mid_align col  ">
        <div class="title bold">Pediasure hương vani 1.6kg cho bé từ 1-10 tuổi</div>

        <div class="trademark">
            <span class="trademark_name">Thương hiệu: <span>Pediasure</span></span>
        </div>

        <div class="quantity">
            <span class="trademark_name">Số lượng: <span>1</span></span>
        </div>


        <div class="status">
            <span>Đã giao hàng</span>
        </div>

    </div>


    <div class="section_price mid_align col  ">
        <div class="date">
            <span>10/10/2025</span>
        </div>

        <div class="wrap_price col">
            <span class="title">Tổng thanh toán: </span>
            <span class="price">500,000 VND</span>
        </div>

        <div class="btn col">
            <button class="btn_detail" data-src="../component/user_order/OrderHistory.html">Xem chi tiết</button>
            <button class="btn_support">Hỗ trợ</button>
        </div>


    </div>




</div>
</body>
</html>