<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>imgae</title>
    <link rel="stylesheet" href="../../src/style/style-component/style_product_detail/Product_detail_item.css">
</head>
<body>
<!-- Carousel Container -->
<div class="carousel-container">
    <!-- Main Image Display -->
    <img id="mainImage" src="../../resource/image/img-showcase/milk.jpg" alt="Carousel Image" class="carousel-image"/>
    <!-- Navigation Arrows -->

    <div class="nav-arrow left" onclick="prevImage()">&#10094;</div>
    <div class="nav-arrow right" onclick="nextImage()">&#10095;</div>
</div>
<!-- Thumbnails -->
<div class="thumbnails">
    <img src="../../resource/image/img-showcase/milk.jpg" alt="Thumbnail 1" class="thumbnail active"
         onclick="showImage(0)"/>
</div>
</body>
</html>