<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sanr pham feature</title>
</head>
<body>
<div class="feature-benefit">
    <div class="feature-benefit__text">
        <h2> Bộ quần áo dài êm mềm giúp giữ ấm cơ thể bé, đặc biệt là lưng và bụng</h2>
        <h3> Chun quần mềm mại, co giãn tốt cho bé thoả sức vui chơi, vận động</h3>
        <p>Chất liệu 100% vải cotton mềm mại, an toàn và có khả năng thấm hút mồ hôi vượt trội.
        </p>
        <ul>
            <li>Sợi bông có khả năng hút ẩm vượt trội, giúp thấm mồ hôi nhanh</li>
            <li>Cotton tự nhiên mềm nhẹ như bông bảo vệ làn da của bé</li>
        </ul>
    </div>
    <div class="feature-benefit__img">
        <img src="../../resource/image/baoquan.webp" alt="BaoquanDo">
    </div>
</div>
</body>
</html>