<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Product</title>
    <link rel="stylesheet" href="../../resource/fontawesome/all.css">
    <link rel="stylesheet" href="../../src/style/style-component/style-product/Search_Refrigerator.css">
</head>
<body>

<div id="banner">
    <iframe src = "../home/banner.html"></iframe>
</div>

<div id="body" class="row">
    <div id="sidebar">

        <div class="title f18 ">
            <i class="fa-solid fa-filter"></i>
            Bộ lọc
        </div>

        <div class="section_type section_item col">

</body>
</html>