<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../resource/fontawesome/all.css">
    <link rel="stylesheet" href="../../src/style/style-component/style-product/TopProduct.css">
</head>
<body>
<div id="body">
    <div class="wrap_img">
        <img id="image" src="../../resource/image/sp1.png" alt="" height="255" width="255">
    </div>

    <div class="infor mid_align col">
        <div id="name" class="bold f16">
            <a href="#">Body SS DT UR2079 gấu ghi Uala Rogo 22ST06</a>
        </div>

        <div id="price" class="bold f18">
            190.000 ₫
        </div>

        <div class="rating row mid_align">

            <span class="star" >
                <span class="star_empty"></span>
                <span class="star_fill"></span>
            </span>


            <span class="star" >
                <span class="star_empty "></span>
                <span class="star_fill"></span>
            </span>

            <span class="star " >
                <span class="star_empty"></span>
                <span class="star_fill"></span>
            </span>

            <span class="star" >
                <span class="star_empty"></span>
                <span class="star_fill"></span>
            </span>


            <span class="star" >
                <span class="star_empty"></span>
                <span class="star_fill"></span>
            </span>

            <span id="ratting" class="bold" style="padding: 0 5px"> đã bán </span>
            <span id="noOfRatting"  class="bold" >(9999)</span>

        </div>

        <div id="description">
            <ul class="list_descriptions">
                <li class="desc_item f12" >Bộ quần áo dài êm mềm giúp giữ ấm cơ thể bé, đặc biệt là lưng và bụng</li>
                <li class=" desc_item f12">Áo cổ tròn, phom suông giúp ba mẹ dễ dàng thay ra mặc vào cho bé</li>
                <li class="desc_item f12">Hoạ tiết độc đáo, giúp vẻ ngoài của bé thêm đáng yêu và năng động </li>
                <li class="desc_item f12">Chất liệu 100% vải cotton mềm mại, an toàn và có khả năng thấm hút mồ hôi vượt trội </li>
            </ul>
        </div>

    </div>

    <div class="operation col">
        <button id="buy_now"><a href="#">Mua ngay</a></button>
        <button class="btn add">Thêm vào giỏ hàng</button>
    </div>
    <div id="cart-notification" class="notification hidden">
        <i class="fa fa-check-circle"></i>
        <span>Thêm vào giỏ hàng thành công</span>
    </div>
</div>

</body>
</html>