body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: white;
}

.container {
    width: 590px;
    margin: 0 auto;
}

.product-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-rating {
    color: #f39c12;
    font-size: 1em;
    margin-bottom: 10px;
    text-decoration: none;
}

.product-rating span {
    font-size: 0.9em;
    color: #555;
}

.product-features {
    font-size: 0.9em;
    color: #333;
    margin-bottom: 20px;
}

.product-features ul {
    padding-left: 20px;
}

.product-features li {
    margin-bottom: 8px;
    line-height: 1.7;
}
.price{
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
    color: red;
}
.btn-add-to-cart {
    display: inline-block;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    font-family: Arial, sans-serif;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
}