* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto; /* Căn giữa container */
    background-color: white;
}
.section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 20px;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
    gap: 10px;
}
.section1 {
    display: grid;
    margin-top: 20px;
    /*padding: 15px 0;*/
    gap: 10px;
}
.iframe {
    width: 100%;
    height: 90vh;
    border: none;
}
.summary__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: white;
}
/* Từng item trong summary list */
.summary__item {
    text-align: center;
    font-size: 14px;
    color: #333;
}
/* Icon cho từng summary item */
.summary__icon {
    width: 40px; /* Kích thước icon có thể điều chỉnh */
    height: auto;
    margin-bottom: 10px;
}
.summary__divider {
    width: 1px;
    height: 50px; /* Chiều cao của đường phân cách */
    background-color: #ccc; /* Màu sắc đường phân cách */
}

