* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.container {
    display: grid;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto; /* Căn giữa container */
    background-color: lavender;
}
.iframe {
    width: 100%;
    height: 400px;
    border: none;
}
ul{
    list-style: none;
}
.left_display{
    height: 400px;
}
.product_display {
    display: flex;
    gap: 0px;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    background: #eeeeee;
}

