* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
}
.feature-image{
max-width: 80%;
}
.img_feature_image{
max-width: 80%;
    max-height: 80%;
height: auto;
    object-fit: contain;
}