*{
    box-sizing: border-box;
}
body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: white;
}
.product_detail_box{
width: 600px;
    height:auto;
}
.produc_detail_title{
    font-size: 30px;
    padding: 10px 0;
}
.product_info_main{
    padding: 10px 0;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    width: 600px;
    height: fit-content;
    gap: 10px;
}
.product_price{
    height: 20px;
}
.product_price_box{
    box-sizing: border-box;
    padding: 20px 0;
    border-bottom:1px solid lightgrey;
    border-top: 1px solid lightgrey;
}
.product_action{
    padding-top: 10px;
}
.product_price_box{
    font-weight: bolder;
    font-size: x-large;
    color: red;
}
.item_quantity{
    display: flex;
    gap: 0px;
}
button{
    height: 40px;
    width: 40px;
}
#add{
    border-left: none;
}
#minus{
    border-right: none;
}
#quantity{
    width: 80px;      /* tăng chiều rộng */
    height: 40px;     /* tăng chiều cao */
    font-size: 20px;  /* tăng cỡ chữ */
    text-align: center;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


