<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <link rel="stylesheet" href="../../src/style/style-component/style-home/banner.css">

</head>
<body>
<button class="pause-play-btn" id="pausePlayBtn">
    <i class="fas fa-pause"></i>
</button>

<div class="indicator" id="indicator1">
    <div class="progress-loader" >

        <div class="progress"></div>
    </div>
    <div class="progress-loader" >

        <div class="progress"></div>
    </div>
    <div class="progress-loader" >

        <div class="progress"></div>
    </div>
    <div class="progress-loader" >

        <div class="progress"></div>
    </div>
</div>


<div class="banner-container">
    <div class="banner-slide active" id="slide-1"
         style="background-image: url('../../resource/image/thudongbanner.jpg')">
        <div class="overlay"></div>
        <div class="banner-content">
            <h2>Bộ sưu tập Thu Đông 2025</h2>
            <p>Dòng sữa công thức mới - Tăng cường miễn dịch</p>
            <!--            <button class="buy-now-btn">Mua ngay</button>-->
        </div>
    </div>

    <div class="banner-slide" id="slide-2" style="background-image: url('../../resource/image/giamgia.png');">
        <div class="overlay"></div>
        <div class="banner-content">
            <h2>Tuần lễ Bỉm sữa - Giảm giá đến 50%</h2>
            <p>Chào hè rực rỡ - Sale hết cỡ đồ sơ sinh, váy áo cho mẹ bầu</p>
            <!--            <button class="buy-now-btn">Mua ngay</button>-->
        </div>
    </div>

    <div class="banner-slide" id="slide-3" style="background-image: url('../../resource/image/spuachuong.jpg');">
        <div class="overlay"></div>
        <div class="banner-content">
            <h2>Top sản phẩm dược ưu chuộng</h2>
            <p>Hàng chính hãng 100% - An toàn cho bé - Dịch vụ tận tâm</p>
            <!--            <button class="buy-now-btn">Mua ngay</button>-->
        </div>
    </div>

    <div class="banner-slide" id="slide-4" style="background-image: url('../../resource/image/tabanner.jpg');">
        <div class="overlay"></div>
        <div class="banner-content">
            <h2>Chăm sóc dịu nhẹ cho bé</h2>
            <p>Thấm hút vượt trội - Mềm mại thoáng khí - Chống hăm hiệu quả</p>
            <!--            <button class="buy-now-btn">Mua ngay</button>-->
        </div>
    </div>

    <button class="nav-btn prev-btn">❮</button>
    <button class="nav-btn next-btn">❯</button>


</div>
</body>
<script src="../../styles/style-component/style-home/banner.js"></script>
</html>
