<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Qêun mật khẩu</title>
    <link rel="stylesheet" href="../../src/style/style-pages/auth_component/forgot_password.css">
</head>
<body>

<div id="resetBox" class="reset-box" style="display: none;">
    <div class="infield">
        <label for="emailInput">Nhập lại email</label>
        <input
                type="email"
                id="emailInput"
                placeholder=" "
                name="email"
                required
        />

    </div>
    <div id="errorMessage" class="error-message">Email không hợp lệ</div>
    <!--    khi ấn button thì sẽ nhảy qua otp-->
    <button>Tiếp theo</button>
</div>


<div id="otpBox" class="reset-box">
    <div class="header">
        <h2>Nhập mã xác nhận</h2>
    </div>
    <p>Mã xác minh của bạn sẽ được gửi qua email.</p>
    <div class="otp-inputs">
        <input type="text" maxlength="1" id="otp1">
        <input type="text" maxlength="1" id="otp2">
        <input type="text" maxlength="1" id="otp3">
        <input type="text" maxlength="1" id="otp4">
        <input type="text" maxlength="1" id="otp5">
    </div>
    <p class="timer-text">Vui lòng chờ <span id="timer">60</span> giây để gửi lại.</p>
    <button>Tiếp theo</button>
</div>
</body>
</html>